@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      font-family: "Cormorant Upright", serif;
      font-weight: 500;
      font-size: 1em;
      background-color: #FCFCFC;
    }

  }
  
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@keyframes slideIn {
  0% {
    /* opacity: 0; */
    transform: translateY(-10px);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-in-out;
}
  
#my-bg-image {
  @apply md:w-1/2 h-[950px] bg-cover bg-center absolute right-0;
  background-image: url('./Images/victor.jpg');
  /* width: 50%;
  height: 950px;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  z-index: -1; */
}

#my-bg-image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

/* .cormorant-upright-light {
  font-family: "Cormorant Upright", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-upright-regular {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-upright-medium {
  font-family: "Cormorant Upright", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-upright-semibold {
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-upright-bold {
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-style: normal;
} */
